#prvi {
    height: 300vh;
    /* background:linear-gradient( #b60224, #fff); */
    background-color: #b60224;
    display: flex;
    width: 100%;
}
#drugi {
    height: 300vh;
    background:linear-gradient( #ED2233 0%, #F2BCC1 15%,#F2BCC1 80%,  #fff 95%);
    display: flex;
    width: 100%;
   }
#treci {
    height: 300vh;
    display: flex;
    background:linear-gradient( #fff 10%, #ffc107 15%);
    
    /* position: relative; */
    width: 100%;
}
#naslov1 {
    position: sticky;
    position: -webkit-sticky;
    font-size: 100px;
    align-self: flex-start;
    transform: translate(-50%,-50%);
    left: 50%; top: 50%;
    font-weight: bold;

}
#naslov2 {
    font-size: 75px;
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    transform: translate(-50%,-50%);
    left: 50%; top: 50%;
}

#naslov3 {
    font-size: 75px;
    font-weight: bold;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    transform: translate(-50%,-50%);
    left: 50%; top: 50%;
}
.naslovi {
    /* position: absolute; */
    transform: translate(-50%,-50%);
    left: 50%; top: 50%;
    color: #fff;
}
.links {
    color: #fff;

}
.links:hover {
    color: #fff;
    /* font-weight: 500; */
    border-bottom: 4px solid #fff !important;

}
#za-celu {
    background-color: #ffc107;
    position: fixed;
    width: 100%;
    z-index: 20;
}
#navigacija {
    width: 51%;
    margin: auto;
    z-index: 20;
    background-color: #ffc107;
}
.navzalogo {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 3px;
}
.navzalogo a {
    color: #fff;
}
.navzalogo a:hover {
    font-weight: bold;
   color: #b60224;
}