.navbar-nav .nav-link::after {
    color: #b60224;
    content: "\f140";
    font-family: bootstrap-icons;
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
.navbar-nav .nav-link:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  .navbar-nav .nav-link {
    color: var(--p-color);
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    position: relative;
  }
.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
    color: #b60224;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}